body {
  margin: 0;
  }


h1, h2,h3{
  font-family: 'Poppins', sans-serif !important;
  font-weight: 600 !important;
  color: hsl(192, 100%, 9%) !important;
  font-size: 2rem;
}

p, span, ListItem, ListItemText, Button {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 18px !important;
  font-weight: 400;
}
li{
  cursor: pointer !important;
}
.icons svg{
  color: white !important;
  border: 1px solid white;
  border-radius: 30px;
  padding: 10px;
}
.icons svg:hover{
 color:  hsl(322, 100%, 66%) !important;
 border-color:  hsl(322, 100%, 66%) ;
 transition-duration: 1s  !important;
}